.left-panel {
   min-width: 27rem;
   max-width: 27rem;
   min-height: 100%;
   color: var(--main-element-colour);
   display: flex;
   flex-direction: column;
   align-items: flex-start;
   padding: 1.3rem;
   user-select: none;
   font-size: 2rem;

   .list-item {
      width: fit-content;
      color: var(--main-element-colour);
      text-decoration: none;
      display: flex;
      align-items: center;
      gap: 1.8rem;
      margin-top: 0.7rem;
      padding-top: 1.1rem;
      padding-bottom: 1.1rem;
      padding-left: 1.3rem;
      padding-right: 2.9rem;
      border-radius: 250px; //arbitrary large number to get full rounded corners
      transition: background-color 200ms;
      cursor: pointer;

      &:hover {
         background-color: #181818;
      }
   }

   .twitter-logo {
      color: #d6d9db;
      margin-left: 1.3rem;
      margin-bottom: 1rem;
      cursor: pointer;
   }

   .icon {
      min-width: 2.9rem;
      min-height: 2.9rem;
   }

   .text {
      margin-top: -0.2rem;
   }

   .messages-icon {
      transform: scaleX(0.8);
   }

   .lists-icon {
      transform: scaleX(0.9);
   }

   .topics-icon-selected {
      stroke-width: 1px;
   }

   .tweet-button {
      width: 90%;
      min-height: 5.2rem;
      border-radius: 250px;
      background-color: var(--main-accent-colour);
      margin-top: 2.5rem;
      margin-left: 0.2rem;
      color: var(--main-element-colour);
      font-size: 2.2rem;
      transition: background-color 200ms;

      &:hover {
         background-color: #1a8cd8;
      }
   }

   .user-panel {
      width: 100%;
      padding: 1rem;
      border-radius: 250px;
      display: flex;
      align-items: center;
      margin-top: auto;

      font-size: 1.6rem;
      transition: background-color 200ms;
      cursor: pointer;

      &:hover {
         background-color: #181818;
      }
   }

   .profile-picture {
      width: 4.3rem;
      height: 4.3rem;
      margin-right: 1.2rem;
   }

   .username {
      font-weight: 600;
      color: var(--main-element-colour);
   }

   .handle {
      color: var(--secondary-element-colour);
   }

   .ellipsis-icon {
      width: 2.1rem;
      height: 2.1rem;
      margin-left: auto;
   }
}

@media screen and (max-width: 1260px) {
   .left-panel {
      min-width: 0;
      align-items: center;

      p,
      button, // remove button for now
      .ellipsis-icon {
         display: none;
      }

      .twitter-logo {
         margin-left: 0;
      }

      .list-item {
         padding: 1.1rem 1.3rem;
      }

      .profile-picture {
         margin: 0;
      }
   }
}
