:root {
   --main-background-colour: black;
   --secondary-background-colour: #16181c;
   --main-text-colour: #eff3f4;
   --secondary-text-colour: #71767b;
   --main-accent-colour: #1d9bf0;
}

html {
   font-size: 62.5%;
}

body {
   font-size: 1.6rem;
}

body,
textarea {
   font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
      "Droid Sans", "Helvetica Neue", sans-serif;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
}

code {
   font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

* {
   box-sizing: border-box;
   padding: 0;
   margin: 0;
}

button {
   cursor: pointer;
}

button,
input,
textarea {
   outline: none;
   border: none;
}
